// @import url('https://fonts.googleapis.com/css?family=Roboto:700');

// Colors from Demo-PDF per Color-Picker
$demored: #eb443f;
$demowhite: #ffffff;
$demoblack: #444;
$lightgrey: #f0f0f0;
$darkgrey: #dfdfdf;

// bootstrap scss override
$theme-colors: (
        "primary": $demored,
);
$body-bg: $demowhite;
$navbar-light-hover-color: red;
$navbar-brand-font-size: 1rem !default;

$font-stack: 'Roboto', Helvetica, sans-serif !important;

body {
  font-family: $font-stack;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-example {
  background-color: $darkgrey;
}

.nav-link {
  color: $demoblack;
}

.nav-link:hover {
  color: $demowhite;
}

.nav-link.active {
  color: $demored;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-example {
    padding: 0 !important;
  }
  .nav-link.active {
    color: $demored;
    background-color: $demowhite;
  }


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .nav {
    flex-direction: column;
  }


  .nav-link.active {
    color: $demored;
    background-color: $darkgrey;
    border-left: 5px solid $demored;
  }

}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}*/

